<ul class="breadcrumb">
    <li>You are here:</li>
    <li><a href="#/account">Profile and affiliations</a></li>
    <li>&#8594;</li>
    <li>Add new affiliation</li>
</ul>
<div class="box grid-1">
    <h2><i class="fa fa-briefcase"></i>Add new affiliation</h2>
    <form ng-submit="addAffiliationSubmit()" class="horizontal"name="form">
        <ul>
        
        
            <li>
                <label>Institution type</label>
                <select  name="inst-type" ng-model="institutionType" ng-options="instType as instType for instType in instTypeList" required>
                    <option value="">-- Select --</option>
                </select>
            </li>
        
            <li>
                <label>Name</label>
                <input type="text" name="name" ng-model="name"/>
            </li>
        
        
        
        
        
            <li>
                <label>Country / NGI</label>
                <select  name="country" ng-model="country" ng-options="country as country for country in countryList" required ng-change=updateListInstitution(country)>
                    <option value="">-- Select --</option>
                </select>
            </li>
        
        
<!--         $scope.institutionType;
        $scope.name;
        $scope.acronym;
        $scope.department;
        $scope.address;
        $scope.zipCode;
        $scope.city;
        
        // country
        $scope.phone;
        $scope.phone2;
        $scope.website; -->

       
        
        
        
            <li>
                <label class="doubleline">Departmental webpage <span>(optional)</span></label>
                <input type="text" name="webPage" ng-model="webPage"/>
            </li>
            <li>
                <label>Supervisor name <span>(optional)</span></label>
                <input type="text"name="supervisorName" ng-model="supervisorName"/>
            </li>
            <li>
                <label>Supervisor e-mail <span>(optional)</span></label>
                <input type="text" name="supervisorEmail" ng-model="supervisorEmail" placeholder="e.g. john.smith@email.com"/>
            </li>
            <li>
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
                    <i class="fa fa-send"></i>Send affiliation
                </button>
                <a type="button" class="btn btn-cancel" href="#/account">
                    <i class="fa fa-close"></i> Cancel
                </a>
            </li>
        </ul>
    </form>
</div>
