<ul class="breadcrumb">
    <li>You are here:</li>
    <li><a href="#/account">Profile and affiliations</a></li>
    <li>&#8594;</li>
    <li>Add new affiliation</li>
</ul>
<div class="box grid-1">
    <h2><i class="fa fa-briefcase"></i>Add new affiliation</h2>
    <form ng-submit="addAffiliationSubmit()" class="horizontal"name="form">
        <ul>
            <li>
                <label>Institution type</label>
                <select  name="type" ng-model="affiliation.type" ng-options="instType as instType for instType in instTypeList" required>
                    <option value="">-- Select --</option>
                </select>
            </li>
            <li>
                <label>Name</label>
                <input type="text" name="name" ng-model="affiliation.name"  placeholder="e.g. Akademia Górniczo Hutnicza"/>
            </li>
            <li>
                <label>Acronym</label>
                <input type="text" name="acronym" ng-model="affiliation.acronym"  placeholder="e.g. AGH"/>
            </li>
            <li>
                <label>Department/Center</label>
                <input type="text" name="department" ng-model="affiliation.department"  placeholder="e.g. ACK Cyfronet"/>
            </li>
            <li>
                <label>Address</label>
                <input type="text" name="address" ng-model="affiliation.address" placeholder="e.g. ul. Nawojki 11"/>
            </li>
            <li>
                <label>ZIP code</label>
                <input type="text" name="zipCode" ng-model="affiliation.zipCode" placeholder="e.g. 30-950"/>
            </li>
            <li>
                <label>City</label>
                <input type="text" name="city" ng-model="affiliation.city" placeholder="e.g. Kraków"/>
            </li>
            <li>
                <label>Country / NGI</label>
                <select  name="country" ng-model="affiliation.country" ng-options="country as country for country in countryList" required ng-change=updateListInstitution(country)>
                    <option value="">-- Select --</option>
                </select>
            </li>
            <li>
                <label>Phone</label>
                <input type="text" name="primaryPhone" ng-model="affiliation.primaryPhone"  placeholder="e.g. +48 12 632 33 55"/>
            </li>
            <li>
                <label>Secondary Phone</label>
                <input type="text" name="secodnaryPhone" ng-model="affiliation.secondaryPhone" />
            </li>
            <li>
                <label class="doubleline">Departmental webpage</label>
                <input type="text" name="webPage" ng-model="affiliation.webPage" placeholder="e.g. www.cyfronet.pl"/>
            </li>
            <li>
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-send"></i>Send affiliation
                </button>
                <a type="button" class="btn btn-cancel" href="#/account">
                    <i class="fa fa-close"></i> Cancel
                </a>
            </li>
        </ul>
    </form>
</div>
