<div class="content">
    <div class="box grid-1-3 fleft">
        <h2>Hello</h2>
        <p>
            Welcome to Indigo-SLAM.
        </p>
        <div class="tipbox">
            <i class="fa fa-book fa-3x" fleft></i>
            <p class="fright">Are you new here?
                <a href="https://www.indigo-datacloud.eu/">Read information about our project</a>
            </p>
        </div>

    </div>
    <div class="box grid-2-3 fright">
        <h2>First steps</h2>
        <ul class="steps">
            <li ng-show="userFirstSteps.hasAffiliation"><img src="images/step1-check.png" />
            <li ng-show="!userFirstSteps.hasAffiliation"><a href="#/add-affiliation"><img src="images/step1.png" /></a></li>
            <li ng-show="userFirstSteps.hasResource"><img src="images/step2-check.png" /></li>
            <li ng-show="!userFirstSteps.hasResource"><a href="https://synchro.grid.cyfronet.pl/sla/open-id-connect/unity-auth"><img src="images/step2.png" /></a></li>
            <li><img src="images/step3.png" /></li>
        </ul>
    </div>
</div>

