<div class="content">
  <a href="/" class="logo">Solaris</a>
  <nav>
      <ul>
          <li ng-class="{active: $location.path() == '/dashboard'}"><a href="#/dashboard">Dashboard</a></li>
          <li ng-class="{active: $location.path() != '/dashboard' && $location.path() != '/profile'}"><a href="#/indigo">Indigo</a></li>
          <li ng-class="{active: $location.path() == '/profile'}"><a href="#/profile">Profile</a></li>
          <li>{{identityName}}</li>
          <li>
              <a href="/auth/logout"><i class="fa fa-power-off"></i></a>
          </li>
      </ul>
  </nav>
</div>


