<div class="content">
  <a href="/" class="logo">EGI</a>
  <nav>
      <ul>
          <li ng-class="{active: $location.path() == '/dashboard'}"><a href="#/dashboard">Dashboard</a></li>
          <li ng-class="{active: $location.path() == '/resources'}"><a href="https://synchro.grid.cyfronet.pl/sla/open-id-connect/unity-auth">Proposal</a></li>
          <li ng-class="{active: $location.path() == '/account'}"><a href="#/account">Profile and affiliations</a></li>
          <li>{{identityName}}</li>
          <li>
              <a href="/auth/logout"><i class="fa fa-power-off"></i></a>
          </li>
      </ul>
  </nav>
</div>


