<h1>Resources</h1>
<div ng-show="hasAffiliation">
    <div ng-show="!resourcesList" class="alert alert-info" role="alert">
        You don't have any resources yet. <a href="https://synchro.grid.cyfronet.pl/sla/">Apply for resources</a> .
    </div>
    <div ng-show="resourcesList">
        <table class="table table-bordered">
            <!--<tr>-->
                <!--<td>Name</td>-->
                <!--<td>Description</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a href="">Ultralife v.2</a></td>-->
                <!--<td>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a href="">Penatibus parturient</a></td>-->
                <!--<td>Nam fermentum, nulla luctus pharetra vulputate, felis tellus </td>-->
            <!--</tr>-->
            <!--
        <tbody ng-repeat="scienceGateway in scienceGatewaysList">
            <tr>
               <td class="col-lg-4 col-md-4">{{scienceGateway.name}}</td>
               <td class="col-lg-8 col-md-8">{{scienceGateway.description}}</td>
            </tr>
        </tbody>
         -->
        </table>
    </div>
</div>
<div ng-show="!hasAffiliation">
    To apply for resources you need to <a href="#/add-affiliation">add your first affiliation</a> .
</div>