<div ng-repeat="queryWrapper in ::queries" ng-show="queryWrapper.documents.length > 0">
    <h3  translate={{queryWrapper.queryLabel}}></h3>
    <div>
        <div class="cert-box" ng-repeat="document in queryWrapper.documents">
            <p class="grant-name">
                <a href="#document/{{document.id}}">{{document.name}}</a>
                <span class="site-name" ng-show="document.site">{{document.site}}</span>
                <span class="site-name {{::document.states.documentState}}" ng-show="document.states.documentState" translate="{{::document.states.documentState}}"></span>
                <span class="site-name {{::document.states.grantActivity}}" ng-show="document.states.grantActivity" translate="{{::document.states.grantActivity}}"></span>
            </p>
            <a href="#document/{{document.id}}" translate="details" class="green-button button small-button grant-detail float-right" translate="details"></a>

        </div>
    </div>
        <!-- if no items -->
        <div ng-show="queryWrapper.documents.length == 0">no sla</div>

</div>




