<section class="content-section">
    <header>
        <h1>List of Providers</h1>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div><h3><a href="#/view-provider/1">Provider1 Details</a></h3></div>
        <div><h3><a href="#/view-provider/2">Provider2 Details</a></h3></div>
        <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">-->
            <!--<div ng-include="'app/view/query.html'"></div>-->
        <!--</div>-->
    </div>

</section>