<section class="content-section">

    <header>
        <h1>Provider {{providerId}} Details</h1>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div>Treśc opisująca providera {{providerId}}</div>
        <a href="#/" class="button green-button float-right">Buy</a>
        <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">-->
        <!--<div ng-include="'app/view/query.html'"></div>-->
        <!--</div>-->
    </div>
</section>