<div ng-include="'app/view/menu-plgrid.html'"></div>


<section class="right-section">
    <header>
        <h1 translate="createRequestForm.header"></h1>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <h3>Ustawienia grantu</h3>
        <form ng-submit="createRequest()" name="form">

            <div class="form-group form-grant">
                <div class="header-form-grant">
                    <label translate="createRequestForm.label.name"></label>
                </div>
                <input type="text" required="required" name="uniqueGrant" unique-grant autofocus="autofocus"
                       ng-model="grantId" grant-name-validator ng-model-options="{debounce: 500}"/>
                <span class="hint" translate="createPoolOrGrantForm.hits.documentName"></span>
            </div>
            <span ng-show="form.uniqueGrant.$error.uniqueGrant" class="errorForm" translate="createPoolOrGrantForm.errors.documentNameIsNotUnique"></span>
            <span ng-show="form.uniqueGrant.$error.incorrectGrantName" class="errorForm" translate="createPoolOrGrantForm.errors.incorrectGrantName"></span>
            <span ng-if="displayErrorComunicate" class="errorForm" translate="createPoolOrGrantForm.errors.loadingUserDataProblem"></span>



            <div class="form-group form-grant form-columns">
                <div class="header-form-grant">
                    <label translate="createGrantForm.label.site"></label>
                </div>
                <select required="required" ng-model="team">
                    <option ng-repeat="team in ::userTeams" value="{{team}}">{{team}}</option>
                </select>
            </div>

            <div class="form-group form-grant form-columns">
                <div class="header-form-grant">
                    <label translate="createGrantForm.label.affiliation"></label>
                </div>
                <select required="required" ng-model="affiliationId">
                    <option ng-repeat="affiliation in ::userAffiliations" value="{{affiliation.id}}">{{affiliation.name}}</option>
                </select>
            </div>
            <div style="clear:both;"

            <div class="form-group form-grant">
                <div class="header-form-grant">
                    <label translate="createGrantForm.label.branchOfScience"></label>
                </div>
                <select required="required" ng-model="branchOfScienceId">
                    <option ng-repeat="branch in ::branchesOfScience"
                            value="{{branch.code}}">
                        {{branch.name}}
                    </option>
                </select>
            </div>


            <p translate="createRequestForm.description"></p>
            <div class="end-line"></div>

            <button type="submit" ng-disabled="form.$invalid" class="button green-button" translate="createRequestForm.submit"></button>

        </form>
    </div>
</section>
