<!-- <div ng-include="'app/view/menu-plgrid.html'"></div> -->


<section class="content-section">
    <header>
        <h1 translate="createPoolForm.header"></h1>
    </header>
    <div style="clear:both;"></div>

    <div class="loading" ng-show="isLoading"></div>

    <div class="main-content" ng-show="!isCreating">
        <form ng-submit="createPool()" name="form">

            <div class="form-group form-grant">
                <div class="header-form-grant">
                    <label translate="createPoolForm.label.name"></label>
                </div>
                <input type="text" required="required" name="uniqueGrant" unique-grant autofocus="autofocus"
                       ng-model="grantId" grant-name-validator ng-model-options="{debounce:500}"/>
                <span class="hint" translate="createPoolOrGrantForm.hits.documentName"></span>
            </div>
            <span ng-show="form.uniqueGrant.$error.uniqueGrant" class="errorForm" translate="createPoolOrGrantForm.errors.documentNameIsNotUnique"></span>
            <span ng-show="form.uniqueGrant.$error.incorrectGrantName" class="errorForm" translate="createPoolOrGrantForm.errors.incorrectGrantName"></span>
            <span ng-if="displayErrorComunicate" class="errorForm" translate="createPoolOrGrantForm.errors.loadingUserDataProblem"></span>

            <div class="form-group form-grant">
                <div class="header-form-grant">
                    <label translate="createPoolForm.label.site"></label>
                </div>
                <select required="required" ng-model="site">
                    <option ng-repeat="site in ::sites" value="{{site}}">{{site}}</option>
                </select>
            </div>

            <p translate="createPoolForm.description"></p>
            <div class="end-line"></div>
            <button type="submit" ng-disabled="form.$invalid" class="button green-button" translate="createPoolForm.submit"></button>

        </form>
    </div>
</section>
