<div ng-if="state == 'form'">
    <h2 style="margin-bottom: 20px">Request</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="site">Site</label>
            <div class="col-sm-6">

                <select ng-disable="!sla.editable" class="form-control" required="required"
                        ng-options="site as site.value.hostname + ' in ' + site.value.sitename for site in sites track by site.id" ng-model="sla.site" id="site"></select>

                <!--<select class="form-control" required="required" ng-model="sla.site" id="site">-->
                    <!--<option value="BARI">BARI</option>-->
                    <!--<option value="VAL">VAL</option>-->
                    <!--<option ng-repeat="site in ::sites" value="{{site}}">{{site}}</option>-->
                <!--</select>-->
            </div>
            <div class="col-sm-4">
                <p>Site in which apply for resources</p>
            </div>
        </div>

        <div class="form-group">
            <label for="document_id" class="col-sm-2 control-label">Name (ID)</label>
            <div class="col-sm-6">
                <div>
                    <input ng-disable="!sla.editable" type="text" class="form-control" id="document_id" placeholder="Name " ng-model="sla.name">
                </div>
            </div>
            <div class="col-sm-4">
                <p>Request's name</p>
            </div>
        </div>

        <div class="form-group" ng-repeat="metric in metrics">
            <label for="{{metric.id}}" class="col-sm-2 control-label">{{metric.label}}</label>
            <div class="col-sm-6">
                <div ng-class="getMetricClasses(metric)">
                    <input type="{{metric.inputType}}" class="form-control" id="{{metric.id}}" placeholder="{{metric.label}}" ng-model="sla.metrics[metric.id]">
                    <!--required="{{metric.required}}"-->
                    <span class="input-group-addon" ng-if="metric.unit && metric.unit != 'none'">{{metric.unit}}</span>
                </div>
            </div>
            <div class="col-sm-4">
                <p>{{metric.description}}</p>
            </div>
        </div>

        <div class="text-right">
            <button ng-if="!documentId" class="btn btn-primary" ng-click="sendRequest(sla)">Create</button>
            <button ng-repeat="action in actions" ng-if="documentId" style="margin-left: 5px" class="btn btn-default" ng-click="performAction(action.id, sla)">{{action.label}}</button>
        </div>
</div>
<div ng-if="state == 'success'">
    <div class="alert alert-success"><p>Action has been successfully carried out (<a href="#dashboard">back</a>)</p></div>
</div>
<div ng-if="state == 'deleted'">
    <div class="alert alert-success"><p>Request has been successfully deleted (<a href="#dashboard">back</a>)</p></div>
</div>