<!--<div ng-include="'app/view/menu-bazaar.html'"></div>-->
<!-- <div ng-include="'app/view/menu-plgrid.html'"></div> -->

<section class="content-section">
    <a href="#/" class="back"><i class="fa fa-long-arrow-left"></i> <span translate="nav.goBackToDashboard"></span></a>
    <header>
        <h1>
            <span>{{::document.name}}</span>
            <span class="site-name" ng-show="document.site">{{::document.site}}</span>
            <span class="site-name" ng-show="document.states.documentState" translate="{{::document.states.documentState}}"></span>
            <span class="site-name" ng-show="document.branchOfScienceId">{{branchOfScience}}</span>
        </h1>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <!-- actions buttons -->
        <a href="" class="green-border-button button float-right button-margin" ng-repeat="action in visibleActions" ng-click="doAction(action.id)" translate="{{action.label}}"></a>
        <!-- in edit mode show cancel button -->
        <a href="" class="red-border-button button float-right button-margin"  ng-show="isInEditMode" ng-click="cancelEdit()" translate="cancelActionButton"></a>
        <div style="clear:both;"></div>
    </div>
    <div class="main-content">

        <!--<span class="label label-info" ng-repeat="(state, stateValue) in document.states">-->
        <!--{{state}}: {{stateValue}} /-->
        <!--</span>-->

        <!--<hr/>-->

        <ul id="tabs">

            <li ng-repeat="category in metricCategories" ng-if="isMainCategoryVisible(category.id)"
                class="{{category.id == visibleMetricCategoryId ? 'active' : ''}}">
                <a href="" name="#tab1" class="grant-tabs" ng-click="showMetricCategory(category.id)" translate="{{category.label}}">
                </a>
                <i ng-show="isInEditMode && $index!=0" ng-click="removeMetricCategory(category)" class="fa fa-close"></i>
            </li>
            <li  ng-show="isInEditMode" class="blue-plus-button">
                <a ng-click="showAddMetricsPopup()"
                   href="" class="blue-plus-button"><i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>





        <div ng-show="addMetricsPopopIsVisible" class="jquery-modal blocker">
            <div class="modal current">
                <h4 translate="addMetricsCategoryPopupHeader"></h4>
                <ul class="metricCategories">
                    <li ng-repeat="category in metricCategories" ng-if="$index < 4"
                        class="{{category.id}} {{addActiveClass(category.id)}}" >
                        <span ng-click="addMetricCategory(category)"></span>
                        <h6 translate="{{ category.label }}"></h6>
                    </li>
                </ul>
                <div style="clear:both;"></div>
                <div class="end-line"></div>
                <a ng-click="hideAddMetricsPopup()" class="button green-button">Gotowe</a>

            </div>
        </div>



        <!-- tabs` content -->


        <div class="gradient-bg">



            <div id="tabs-content">
                <form name="requestedResourcesForm" ng-init="setFormScope(this)">
                <div ng-repeat="metricCategory in ::metricCategories" ng-show="metricCategory.id == visibleMetricCategoryId"
                 ng-if="isMainCategoryVisible(metricCategory.id)">
                    <!-- display metrics from this category-->
                    <div ng-if="metricCategory.children.length > 0"
                         ng-repeat="subMetricCategory in ::metricCategory.children">
                        <h3 translate="{{ subMetricCategory.label }}"></h3>
                        <div class="form-group form-grant grant-view-details">
                            <div ng-if="!isInEditMode"
                                    ng-repeat="metricId in metricCategoryId2MetricId[subMetricCategory.id]" >

                                <div class="form-group form-grant grant-view-details">
                                    <div class="header-form-grant">
                                        <i class="fa fa-question-circle" title="{{metrics[metricId]['description'] | translate}}"></i>
                                        <label translate="{{metrics[metricId]['label']}}" />

                                    </div>
                                    <p class="grant-details">
                                        <span>{{metricFormValues[metricId]}}</span>
                                        <span translate="{{metrics[metricId]['unit']}}"></span>
                                    </p>
                                </div>
                            </div>
                            <div ng-if="isInEditMode"
                                    ng-repeat="metricId in ::metricCategoryId2MetricId[subMetricCategory.id]" ng-form
                                name="metricForm">
                                <div class="form-group form-grant grant-view-details">
                                    <div class="header-form-grant">
                                        <i class="fa fa-question-circle" title="{{metrics[metricId]['description'] | translate}}"></i>
                                        <label translate="{{metrics[metricId]['label']}}" />

                                    </div>

                                    <p class="grant-details">
                                            <div ng-show="inputTypeVisible(metricId,'DATE')" ng-controller="DatePickerController" class="datepicker">
                                                <input type="text"
                                                       datepicker-popup="yyyy-MM-dd"
                                                       datepicker-localdate
                                                       is-open="openedDatePopUp"
                                                       datepicker-options="dateOptions"
                                                       ng-click="openPopUp($event)"
                                                       ng-model="metricFormValues[metricId]"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="openPopUp($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                            </div>


                                        <input ng-show="inputTypeVisible(metricId,'TEXT')"
                                               type="text"
                                               name="{{metricId}}" placeholder="{{getMetricParam(metricId,'defaultValue')}}"
                                               metric-value-validator metric="metrics[metricId]" message="message"
                                               ng-model="metricFormValues[metricId]"/>

                                        <input ng-show="inputTypeVisible(metricId,'NUMBER')"
                                               type="number" string-to-number
                                               name="{{metricId}}" placeholder="{{getMetricParam(metricId,'defaultValue')}}"
                                               metric-value-validator metric="metrics[metricId]" message="message"
                                               ng-model="metricFormValues[metricId]"/>


                                        <textarea ng-show="inputTypeVisible(metricId,'TEXTAREA')"
                                              name="{{metricId}}"
                                              metric-value-validator metric="metrics[metricId]" message="message"
                                              ng-model="metricFormValues[metricId]"/>


                                        <input ng-show="inputTypeVisible(metricId,'CHECKBOX')"
                                               type="checkbox" name="{{metricId}}"
                                               metric-value-validator metric="metrics[metricId]" message="message"
                                               ng-model="metricFormValues[metricId]"/>


                                        <select ng-show="inputTypeVisible(metricId,'SELECT')"
                                                name="{{metricId}}"
                                                metric-value-validator metric="metrics[metricId]" message="message"
                                                ng-model="metricFormValues[metricId]">
                                            <option ng-repeat="option in metrics[metricId].options"
                                                    value="{{option}}">
                                                {{option}}
                                            </option>
                                        </select>

                                        <select ng-show="inputTypeVisible(metricId,'MULTISELECT')"
                                                multiple="multiple"
                                                name="{{metricId}}"
                                                metric-value-validator metric="metrics[metricId]" message="message"
                                                ng-model="metricFormValues[metricId]">
                                            <option ng-repeat="option in metrics[metricId].options"
                                                    value="{{option}}">
                                                {{option}}
                                            </option>
                                        </select>
                                        <span class="metrics-unit" translate="{{metrics[metricId]['unit']}}"></span>


                                    </p>
                                    <span class="errorForm" ng-show="metricForm.$error.metricValueValidator">{{message}}</span>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            </div>
        </div>



        <!-- queries with other documents connected do sla -->
        <div ng-include="'app/view/sla/subqueries.html'"></div>

    </div>
</section>