<!-- <div ng-include="'app/view/menu-plgrid.html'"></div> -->


<section class="content-section">
    <header>
        <h1>Indygo SLAM</h1>
        <a href="#/add-resource" class="button green-button float-right glyphicon glyphicon-plus"></a>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div ng-controller="QueryController" ng-init="init(returnQuery('ProvidersCompOffers'))">
            <h3>Active computing SLA</h3>
            {{queries}}
            <div ng-include="'indygo/view/query.html'">
            <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(returnQuery("ProvidersCompOffers"))">-->
                <!--<div ng-include="'app/view/query.html'"></div>-->
            <!--</div>-->
        </div>
        <div>
            <h3>Active storage SLA</h3>
            <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">-->
                <!--<div ng-include="'app/view/query.html'"></div>-->
            <!--</div>-->
        </div>
        <div>
            <h3>Drafts</h3>
            <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">-->
                <!--<div ng-include="'app/view/query.html'"></div>-->
            <!--</div>-->
        </div>
        <div>
            <h3>In preparation</h3>
            <!--<div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">-->
                <!--<div ng-include="'app/view/query.html'"></div>-->
            <!--</div>-->
        </div>
            <br><br>
        <div>
            <h3>Queries</h3>
            <div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">
                <div ng-include="'app/view/query.html'"></div>
            </div>
        </div>
    </div>
</section>


<div ng-show="false" ng-include="'app/view/query.html'"></div>