
@import "reset.css";

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
* html .clearfix {display:inline-block;}
* html .clearfix, * html .container {height:1%;}

body {
	font: 12px verdana, sans-serif;
	color: #5f5f5f;	
	background-color: #eeeeee;
	overflow:scroll;
	}

.wrap-top {background: url(../../images/admin/bg-gradient8.png) top repeat-x;}
.wrap-submenu {background: url(../../images/admin/bg-gradient7.png) top repeat-x;height: 27px;padding-top: 7px;}
.wrap-content {background: url(../../images/admin/bg-gradient9.png) top repeat-x;padding-top: 20px;}

h2 {
	color: #2b4e72; 
	font-size: 16px;
	font-weight: bold;
	}
	
	#tabs h2 {margin: 15px 0 5px 0;}
	.content h2 {margin: 20px 0 10px 0;}
	.content h2:first-child,
	#tabs h2:first-child {margin: 0 0 10px 0;}	
	
p  {line-height: 18px;}
	
	
	
img[src*="dragdrop"] {cursor:pointer;}
	
.container {
	width: 962px;
	margin: 0 auto;
	position: relative;
	} 
	
.top {
	height: 84px;
	overflow:hidden;
	padding-top: 20px;
	}
	
.center {text-align: center;}
.paragraphPreviewTrigger {cursor:pointer;}

.greyed-out,
.set-lang span a img {
	filter: alpha(opacity=35);
	-moz-opacity: 0.35;
	-khtml-opacity: 0.35;
	opacity: 0.35;
	}
		
ul.errors {
   font-size: 10px;
   color:#a20000;
   padding-right: 15px;
   width: 230px;
   float:right;  
   }
		
/* NAVIGATION
--------------------------------------------------------*/
.navigation {
	margin-top: -90px;
	}
	
	.navigation>li {	
		float:left;		
		}	
		
		.navigation>li>a,		
		.main-page span a{
		    font-size: 10px;
			color: #9c9c9c;
			text-decoration: none;
			text-align:center;
			display:block;
			height: 85px;
			min-width: 60px;
			max-width: 70px;
			overflow: hidden;
			padding: 0 5px;
			}
			
		.navigation span.icon,
		.main-page li>span a span.icon {
		  background: url(../../images/admin/btn-navi.png) no-repeat 0 0;
		  display:block;
		  width: 50px;
		  height: 50px;
		  margin: 0 auto;
		}
		.navigation>li>a:hover span.icon,
        .current>a span.icon{background-position: 0 -130px;}
			
		.navigation>li>a:hover,
		.navigation>li.current>a {color: #71c0ff;}
		
		.navigation .current .select_sub, .navigation>li:hover .select_sub {display:block;}
		.navigation>li:hover .select_sub {z-index:255;}
			
		/*.navigation>li.btn-configuration>a{background-position: 11px 0;}*/
		.navigation>li.btn-pagelist span.icon{background-position: -68px 0;}
		.navigation>li.btn-settings span.icon{background-position:-137px 0;}
		.navigation>li.btn-users span.icon{background-position:-206px 0;}
		.navigation>li.btn-newsletter span.icon{background-position:-274px 0;}
		.navigation>li.btn-webshop span.icon{background-position:-345px 0;}
			
		.navigation>li.btn-configuration>a:hover span.icon,
		.current.btn-configuration>a span.icon{background-position: 0 -130px;}
		.main-page span.btn-configuration>a span.icon{background-position: 0 -130px;}
		
		.navigation>li.btn-pagelist>a:hover span.icon,
		.current.btn-pagelist>a span.icon{background-position: -68px -130px;}		
		.main-page span.btn-pagelist>a span.icon{background-position: -68px -130px;}
		
		.navigation>li.btn-settings>a:hover span.icon,
		.current.btn-settings>a span.icon{background-position: -137px -130px;}		
		.main-page span.btn-settings>a span.icon{background-position: -137px -130px;}
		
		.navigation>li.btn-users>a:hover span.icon,
		.current.btn-users>a span.icon{background-position: -206px -130px;}		
		.main-page span.btn-users>a span.icon{background-position: -206px -130px;}
		
		.navigation>li.btn-newsletter>a:hover span.icon,
		.current.btn-newsletter>a span.icon{background-position: -274px -130px;}		
		.main-page span.btn-newsletter>a span.icon{background-position: -274px -130px;}
		
		.navigation>li.btn-webshop>a:hover span.icon,
		.current.btn-webshop>a span.icon{background-position: -345px -130px;}		
		.main-page span.btn-webshop>a span.icon{background-position: -345px -130px;}
		

        .navigation .select_sub {
            display: none;
            position:absolute;
            top: 85px;
            left: 0;
            background: url("../../images/admin/bg-gradient7.png") repeat-x scroll center top transparent;
            width: 100%;
            height: 27px;
            padding-top: 5px;
            z-index: 0;
        }

/* USER BAR
--------------------------------------------------------*/
.user-bar {
	float:right;
	color: #a3a3a3;
	margin-top: 5px;
	z-index: 255;
	}
	
	.user-bar a {color: inherit;}
	.user-bar a:focus,
	.user-bar a:hover {text-decoration: underline;}
	
	
	.user-bar ul {
		overflow: auto;
		border-bottom: 1px solid #3f3f3f;
		padding-bottom: 5px;
		}
		
	.user-bar li {
		float:left;
		border-left: 1px solid #3f3f3f;
		border-right: 1px solid #585858;
		padding: 0 8px;
		}
		
	.user-bar li:first-child {border-left: none;padding-left: 0;}
	.user-bar li:nth-child(2) {
		background: url(../../images/icons/user_14.png) no-repeat 5px 1px;
		padding-left: 25px;
		}
	.user-bar li:last-child {
		background: url(../../images/icons/logout_14.png) no-repeat 5px 2px;
		padding-left: 25px;
		border-right: none;padding-right: 0;}
	
.lang-bar {
	border-top: 1px solid #585858;
	padding-top: 5px;
	text-align:right; 
	}
	
	.lang-bar a {opacity: 0.3;}
	.lang-bar .active a,
	.lang-bar a:focus,
	.lang-bar a:hover {opacity: 1;}
	
	
/* SUBNAVIGATION
--------------------------------------------------------*/
.sub {}
	.sub li {
		display: block;
		float:left;
		width: auto;
		padding: 2px 8px;
		border-right: 1px solid #bdbdbd;
		border-left: 1px solid #fff;
		}
		
	.sub li:first-child {border-left: none;padding-left: 0;}
	.sub li:last-child {border-right: none;padding-right: 0;}
		
	.sub li a {
		color: #4e4d4a;
		text-shadow: 1px 1px 1px #fff;
		}
		
	.sub li a:focus,
	.sub li a:hover,
	.sub li.sub_show a {color: #4185bb;}
	
	
/* CHANGE PAGE
--------------------------------------------------------*/
.change-page {
	position: absolute;
	top: 25px;
	right: 12px;	
	z-index: 100;
	font-size: 10px;
	}
	

.change-page > span {
    background: url("../../images/icons/ico-arrow-down.png") no-repeat scroll right 8px #D2E4FE;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    padding: 7px 20px 7px 7px;
    position: relative;
    z-index: 50;
    
}
.change-page .pages-list {
    display: none;
    max-height: 450px;
    overflow-y: scroll;
    width: 400px;
}
.change-page .pages-list {
    display: none;
}
.change-page:hover > span {
    border-bottom: medium none;
    margin-bottom: 1px;
}

.change-page .current td {
    background: #FFFFE5; 
}

.change-page:hover .pages-list {
    background: none repeat scroll 0 0 #D2E4FE;
    border: 1px solid #fff;
    box-shadow: 0 2px 10px #9F9F9F;
    display: block;
    margin-top: -2px;
    padding: 5px;
    position: absolute;
    right: 0;
}
.change-page.links {
    float: /*left*/none;
    font-size: 11px;
    m/argin: -5px 0 0 10px;
    position: relative;
    width: 400px;
    right: 0;
    top: 0;    
}
.change-page.links > span {
    border-radius: 5px 5px 5px 5px;
}
.change-page.links:hover > span {
    border-bottom: medium none;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1px;
}
.change-page:hover > span img {
    visibility: hidden;
}
.change-page.links:hover .pages-list {
    border-radius: 0 0 5px 5px;
    right: 0;
    width: 388px;
}
.change-page.links:hover .pages-list a:hover {
    text-decoration: underline;
}

.change-page table img {
    margin: 0 2px;
}

#settings-tab.ui-tabs-panel {
	overflow:visible;
	}
	
	
.linkToStaticPageContainer {
    background: #fafafa;
    border: 1px solid #d3d3d3;
    padding: 18px;
    /*padding-bottom: 0;*/
    overflow: visible;
    margin-bottom: 5px;
}
		
/* CONTENT HEAD
--------------------------------------------------------*/

.head {
	background: url(../../images/admin/bg-gradient1.png) repeat-x top;
	max-height: 40px;
	/*overflow: hidden;*/
	border: 1px solid #a3bde2;
	border-radius: 10px 10px 0 0;
	padding: 20px 15px;
	position: relative;
	}
	
.head.edit {
	padding-bottom: 70px;
	margin-bottom: -47px;
	}
	
	.head h1 {
		font-size: 24px;
		color: #2b4e72;
		text-shadow: 1px 1px 1px #fff;
		font-weight: bold;
		padding-left: 50px;	
		}
	
	.head.info h1 {background: url(../../images/admin/logo-small.png) no-repeat; min-height: 32px;}
	.head.edit h1 {
		background: url(../../images/admin/ico-edit.png) no-repeat;		
		padding-top: 12px;	
		margin-top: -12px;
		}
	
.breadcrumb {
	font-size: 10px;
	color: #8595aa;
	padding-left: 50px;
	}
	
	.breadcrumb a {color: inherit;}	
	.breadcurmb a:focus,
	.breadcrumb a:hover {text-decoration: underline;}
	
.breadcrumb, .head h1 {width: 670px;}
		
		
/* CONTENT BODY
--------------------------------------------------------*/
.content,
.ui-tabs-panel {
	padding: 15px;
	background: url(../../images/admin/bg-gradient2.png) #fff repeat-x top;
	border: 1px solid #cfcfcf;
	border-top: none;
	overflow: auto;
	position: relative;
	z-index: 2;
	}	
	
	.content.main-page {
		padding: 25px 50px;
		}
	
.message-blue,
.message-yellow {
	paking: 10px 15px;
	margin-bottom: 5px;
	padding-left: 30px;
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #a3bde2;
	}	
		
.message-blue {
	background: url(../../images/icons/info_16.png) #e2eeff no-repeat 5px 50%;
	border-color: #a3bde2;
	color: #2b4e72;
	}	
	
.message-yellow {
	background: url(../../images/icons/warning_16.png) #ffeca0 no-repeat 5px 50%;
	border-color: #deba82;
	color: #97490b;
	}

.slot {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #cfcfcf;
	}
	
	.slot:last-child {border: none;}
		
	.slot h2 span {
		font-size: 10px;
		color: #727272;
		background: #eaeaea;
		margin-left: 5px;
		padding: 2px 5px;
		}

.version-preview h2,
.version-preview h3 {
	margin: 10px 0 5px 0;
	}
		
/* TABS
--------------------------------------------------------*/
#tabs {position: relative; z-index: 3;}

.ui-tabs-panel {background-image:none;}
.ui-tabs-nav {
	margin: 0 15px;
	border-top: 1px solid #b1c6e2;
	border-radius: 0;
	padding-top: 12px;
	}
	.ui-tabs-nav a {color: #2b4e72;text-shadow: 1px 1px 1px #fff;}
	.ui-tabs-nav a span {
		font-size: 10px;
		background: #7b97b8;
		color: #fff;
		padding: 1px 4px;
		text-shadow: none;
		}

.ui-tabs-nav li.ui-state-default {padding-top: 1px;}
.ui-tabs .ui-tabs-nav li a {padding: 6px 8px;}

.ui-tabs-nav li.ui-tabs-selected {
	padding-top: 0;
	padding-bottom: 4px;
	border: 1px solid #a3bde2;
	border-bottom: none;
	background: url(../../images/admin/bg-gradient5.png) repeat-x top;
	}

		
/* MAIN PAGE
--------------------------------------------------------*/
.main-page ul {
	margin: 15px 0;
	padding: 20px 0;
	border-top: 1px solid #dcdbdb;
	}

	.main-page ul li {
		width: 380px;
		float: left;
		text-align: justify;
		padding: 20px 50px 20px 0;
		overflow: hidden;
		border-right: 1px solid #dcdbdb;
		padding-right: 50px;
		height: 120px;
		}
		
	.main-page ul li:nth-child(2n) {
		float:right;
		border: none;
		padding-right: 0;
		}
	
		.main-page ul span a{
			display:block;
			padding-top: 0;
			height: 40px;
			width: 50px;
			padding: 0 10px 10px 0;
			float:left;
			}


/* TABLE
--------------------------------------------------------*/
.indentation {
	background: url(../../images/admin/ico-indent.png) no-repeat right;	
	margin-right: 5px;
	}

th {
	background: url(../../images/admin/bg-gradient3.png) repeat-x top #727272;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #454545;
	text-align: left;
	vertical-align: middle;
	}

	
tr:hover {background: #ffffe5 !important;}
	tr:hover td {background:none;}
	td a {color: #2b4e72;}
	td a:focus,
	td a:hover {text-decoration:underline;}


td {
	background: url(../../images/admin/bg-gradient4.png) repeat-x bottom #fff;
	padding: 10px;
	text-align: left;
	border: 1px solid #e5e5e5;
	line-height: 14px;
	vertical-align: middle;
	table-layout: auto;
	}

td.lang {text-align: center;width: 100px;}
/*td:last-child {width: 125px;}*/

/*style dla list konfiguracji w module configuration*/
.attributeEnabled {text-align: center;width: 25px;}
.pagesWithCurrentConfigurationContainer {text-align: center;width: 225px;}

.relatedConfigurationsList,
.categoriesWithCurrentConfigurationContainer,
.productsWithCurrentConfigurationContainer {text-align: center;width: 270px;}
.idColumn {text-align: right; width: 40px;}

.hideDetailsList .show_config_pages_list {display: none;}


/*style dla listy obrazkow i plikow*/
th.handle, td.handle {text-align: center;width: 30px;}
th.mimeTypeIcon, td.mimeTypeIcon {text-align: center;width: 30px;}
th.downloadsHistory, td.downloadsHistory {text-align: center;width: 70px;}

td.options2columns:last-child {width: 50px;}
td.options3columns:last-child {width: 75px;}


.mceEditor td:last-child {max-width: 100%;}
	
	td img {padding: 0 2px;}
	
.options1 {width:10px;}

#ui-datepicker-div {background: #fff;border: 1px solid #e5e5e5;padding: 10px;}
#ui-datepicker-div td:last-child {width: auto;}
#ui-datepicker-div .ui-state-highlight {background: #D2E4FE; border-color: #A3BDE2;}
	
tr.ui-state-highlight {
    background:transparent !important;
    background-color: #fff !important;
    border:1px solid #FFD71F !important;
}

#fileslist tr,  #fileslist tr.ui-state-highlight {
    height: 60px;
}

#sortable tr, #sortable tr.ui-state-highlight {
    height: 74px;
}
	
.selectComponentResource img[src*="tick_16"] {display:none;}
.selectComponentResource .current img[src*="tick_16"] {display:block;}
		
/* FORM
--------------------------------------------------------*/

form {
	background: #fafafa;
	border: 1px solid #d3d3d3;
	padding: 18px;
	/*padding-bottom: 0;*/
	overflow: hidden;
	margin-bottom: 5px;
	}
	
form.twoColumnForm {
	width: 90%;
}

form dt, form dd {
	/*background: url(../../images/admin/bg-f2f2f2.png) right top repeat-y;*/
	}

form dt {padding-top: 10px;}

form dd {
	overflow: hidden;
	/*border-bottom: 1px dotted #cfcfcf;*/
	}
	
form dd-dd {padding: 0; margin: 0 !important;}
	
label {
	display:block;
	font-size: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;	
	}
	
input, textarea, select {
	border: 1px solid #cccccc;
	background: #fff;
	padding: 9px 12px;
	width: 545px;
	color: #4E4D4A;
	float:left; 
/*	margin-bottom: 10px;*/
	}
	
.twoColumnForm input,.twoColumnForm textarea,.twoColumnForm  select {
    width: 92%;
}

.twoColumnForm dt,.twoColumnForm dd {
    background: none;
}
	
::-webkit-input-placeholder {
   color: #4E4D4A;
}

:-moz-placeholder {
   color: #4E4D4A;
}
	
input.hasErrors, textarea.hasErrors, select.hasErrors {
    border: 1px solid black;
    background: #FF4444;
    }
	
	input[type=checkbox] {width: 10px;}
	input.itemDescription {width: 260px;}
	
select {width: auto; min-width: 80px;max-width:200px;padding: 8px 12px 8px 12px;}
	
textarea {height: 100px;}

label input[type=checkbox] {
	float: none;
	position: relative;
	top: 3px;
}

form p {
	float: right;
	width: 270px;
	padding-right: 15px;
	font-family: Tahoma, verdana, sans-serif;
	}
	
.btn-submit_parent
	{
	background: none;
	border: none;
	} 

#Form_Shipment_AddShipment fieldset#fieldset-primary_data dd,
#Form_Shipment_AddShipment fieldset#fieldset-primary_data dt, 
#Form_Shipment_AddShipment fieldset#fieldset-prices dd,
#Form_Shipment_AddShipment fieldset#fieldset-prices dt	{background: none; border: none;}
	
dt#submit-label,
dt#gallery_photo-label,
dt#gallery_photo-aaaa-label,
dd#gallery_photo-aaaa-element,
dt#file_attachment_subform-label,
dt#file_attachment_subform-aaaa-label,
dd#file_attachment_subform-aaaa-element,
dt#data-label,
dt#address-label,
dt#primary_data-label,
dt#prices-label,
dt#PLN-label,
dt#EUR-label,
dt#USD-label,
dt#NOK-label,
#primary_data-currencies-element br,
dt#configStaticPage-label,
dt#groupsettings-label,
dt#slot-label,
dt#description-label,
dt#component-label,
#fieldset-component legend,
#Form_Product_Attributes dt#attribute-label,
#Form_Shipment_AddShipment #fieldset-prices dl dl >dt,
#Form_Rebate_AddRebate #prices-element fieldset dl dt
	{display:none;}

dd#gallery_photo-description-element,
dd#file_attachment_subform-description-element,
dd#data-element,
dd#data-status-element,
dd#primary_data-element,
#configStaticPage-element fieldset fieldset dd:last-child,
#Form_Product_Attributes dd#attribute-element,
#Form_Rebate_AddRebate #prices-element fieldset dl dd
 {
	border: none;
}

dd#gallery_photo-element,
dd#file_attachment_subform-description-element,
dd#data-element,
dd#primary_data-element {padding-bottom: 0;}

dd#submit-element,
form#Form_Payment_Status dd,
form#Form_Payment_Status dt,
form#Form_Order_Status dd,
form#Form_Order_Status dt,
.addressContainer dt,
.addressContainer dd,
.Form_Login div{border: none;background: none; margin: 10px 0;}
form.Form_Login  {padding-bottom: 10px;}


form#Form_Payment_Status dd,
form#Form_Payment_Status dt,
form#Form_Order_Status dd,
form#Form_Order_Status dt {margin:0;padding: 0;}

#Form_Order_Status  dd, #Form_Payment_Status dd {width: 210px; float: left;}
#Form_Order_Status  dd select, #Form_Payment_Status dd select {width: 200px;}

input[type=submit],
.btn-add {
	width: auto;
	background: url(../../images/admin/bg-gradient6.png) top repeat-x #79a247;
	border-color: #94ba65;
	color: #fff;
	text-shadow: 1px 1px 1px #4c632e;
	font-size: 14px;
	font-family: Tahoma, verdana, sans-serif;
	font-weight: bold;
	padding: 7px 15px;
	cursor: pointer;
	display:table;
	}
	
input[type=submit]:hover,
.btn-add:hover {
	background: #618a2e;
	}
	
.addressContainer {width: 445px;float:left;}	
.addressContainer:last-child {float:right;}
.addressContainer input[type=text] {width: 380px;}
.addressContainer dt {margin: 0;}

dd legend {font-size: 10px; font-weight: bold;}

.fourColumnSubform ul.errors { width: auto; }
#fieldset-prices {overflow:auto;margin: 15px 0 0 0;}
#fieldset-prices dd {width: 120px; float:left;margin-bottom: 0;padding-bottom: 0;}
#fieldset-prices dd legend {display:block;float:left;font-size: 10px; font-weight: bold;}
#fieldset-prices dd input[type=text] {width: 90px;padding: 5px 10px;}
/*#fieldset-prices dd dl {float:left;}*/
#Form_Shipment_AddShipment #primary_data-name-element {padding-bottom: 0;}


#Form_Order_Address_1 fieldset dt,
#Form_Order_Address_2 fieldset dt
	 {width: 140px;float:left;}
	
#Form_Order_Address_1 fieldset dd,#Form_Order_Address_2 fieldset dd  {padding: 0;}	
#Form_Order_Address_1 fieldset input[type=text],#Form_Order_Address_2 fieldset input[type=text] {width: 240px;}


.product-prices fieldset dt,
.product-prices fieldset dd,
#Form_Rebate_AddRebate #prices-element fieldset dl dd,
#Form_Rebate_AddRebate #prices-element fieldset dl dt
{
	background: none;
	padding-bottom: 10px;
	}
	
.product-prices  #fieldset-prices  dd[id*="element"] {
	width: 100%;
	float: none;
	margin-bottom: 5px;
	}
	
.product-prices  #fieldset-prices  dd[id*="element"] dd[id*="element"],
#Form_Rebate_AddRebate #prices-element fieldset dl dt
	 {margin: 0;border:none;padding:0;}
	
.product-prices #fieldset-prices dd[id*="element"] dt  {
	width: 100px;
	clear:left;
/*	float:left;*/	
	}
/*	
.product-prices #fieldset-prices dd[id*="element"] dd  {
	width: 150px;
	float:left;
	}
	*/
.product-prices #fieldset-prices dd legend {float:none;}
.product-prices #fieldset-prices dl dl {margin-left: 40px;}
.product-prices #prices-element,
#Form_Rebate_AddRebate #prices-element fieldset dl dd {border:none;padding-bottom: 0;}

#Form_Rebate_AddRebate #fieldset-prices > legend {font-size: 10px; font-weight: bold;color: #333333;margin-bottom:5px;} 


/* FORM webshop search
--------------------------------------------------------*/
.searchshop form{margin-bottom: 10px;overflow:hidden;padding:0;border:0; margin:0;background:none;}
.searchshop .zend_form_element_container {float:left;margin-right: 10px;}
.searchshop .zend_form_element_container:nth-child(3) {margin-right: 0;}
.searchshop .zend_form_element_container:last-child {margin-right: 0; float: right; margin-top: -66px;}

.searchshop dt, .searchshop dd {
	background: transparent;	
	border: none;
	padding-bottom: 3px;
	}
	
.searchshop input[type=text], 
.searchshop textarea,
.searchshop select {	
	width: 200px;
    }
    
.searchshop #searchTerm {
	width: 317px;
}

.searchshop #createdAtFrom, .searchshop #createdAtTo {
    width: 160px;
}

.searchshop #createdAtTo {
	clear:both;
	margin-right:0;
}

.searchshop #orderStatus {
	width: 300px;
}

.searchshop #paymentStatus {
	width: 134px;
}

.searchshop #shipmentType, .searchshop #orderLang {
    width: 124px;
}

.searchshop #itemsPerPage {
	width: 112px;
}

.searchshop #submit {
   font-size: 26px;
   height: 118px;
   margin-top: 7px;
   width: 186px;
}
	
.searchshop label {
	padding-bottom: 0;
	}
	
	

/* ORDER COMMENT
--------------------------------------------------------*/
.order-comment {
	background: #fafafa;
	border: 1px solid #d1d1d1;
	padding: 15px;
	margin-bottom: 5px;
	}
	
	.order-comment h3 {
		font-weight: bold;
		color: #94ba65;
		font-size: 13px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dotted #d1d1d1;
		}
		
		.order-comment h3 span {
			display:block;
			color: #5F5F5F;
			font-size: 10px;
			font-weight: normal;
			}


/* PAGINATION
--------------------------------------------------------*/
.paginate {margin: 10px 0;}
	.paginate li {display:inline;}
	
		.paginate li a {
			display:block;
			float:left;
			padding: 1px 5px;
			text-align: center;
			border: 1px solid #d1d1d1;
			margin-right: 3px;
			color: #6a6a6a;
			}
			
		.paginate li a:focus,
		.paginate li a:hover {
			border-color: #727272;
			}
		
		.paginate li.active a {
			border: 1px solid #727272;
			color: #fff;
			background: #858585;
			}


/* CONFIGURATION
--------------------------------------------------------*/
.show_config_pages_list ul {
	margin: 7px 5px 5px 40px;
	font-size: 10px;
	}
	
	.show_config_pages_list ul li {
		list-style-type:disc;
		margin-bottom: 2px;
		}
		
.show_config_pages_list_trigger {cursor: pointer;}
	
#configStaticPage-element dd,
#configStaticPage-element dt {background: none; margin-right: 20px;}
#configStaticPage-element fieldset fieldset {
	border: 1px dotted #2B4E72;
	padding-left: 20px;
	}

#fieldset-configStaticPage > dl > dd {border: none;}
#configStaticPage-element fieldset fieldset p {width:230px;}	
#configStaticPage-element fieldset fieldset input[type=text]{width: 525px;}
	
#fieldset-configStaticPage legend {font-weight: bold;color: #2B4E72;font-size: 14px;}



/* DIALOG BOX
--------------------------------------------------------*/
.ui-widget-overlay {
	background: #000;
	opacity: 0.6;
	}

.ui-dialog {
	background: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 0 30px #000;
	
	}

.ui-dialog .ui-dialog-titlebar {
	background: url(../../images/admin/bg-gradient3.png) repeat-x #727272;
	padding: 10px; 
	border-bottom: 1px solid #d2d2d2;
	font-size: 15px;
	font-weight: bold;
	border-radius: 0;
	margin-bottom: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	}
	


.indyindy {
    background: #DDD url("../../images/admin/ajax-loader.gif") no-repeat scroll 50% 40%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


.resources-form form,
.resources-form dt,
.resources-form dl,
.resources-form dd,
#crop_results dt,
#crop_results dl,
#crop_results dd {background: 0;padding: 0;border: 0;}

#crop_results {padding-bottom: 18px;}


/* FOOTER
--------------------------------------------------------*/

.footer {
	margin-top: 5px;
	color: #4e4d4a;
	font-size: 10px;
	padding-left: 15px;
	}
		



















table.compareVersions tbody td {
    vertical-align: top;
}

tr.current {
    border: 2px solid aqua;
}



.addMetric {
    cursor: pointer;
    color: red;
}
.addMetric.blocked {
    cursor: auto;
    color: gray;
}


.addMetricList {
    z-index: 10;
    position: absolute;
    background: white;
    border: 1px solid black;
}

.addMetricList fieldset {
    display: none;
    z-index: 10;
    margin-top: 5px;
}

.addMetricList:hover fieldset {
    display: block;
}

.addMetricList:hover span {
    cursor: pointer;
}

.addMetricList fieldset ul {
    margin-left: 10px;
}

.addMetricList fieldset legend {
    font-weight: bold;
}


.sla-message {
    background: #fafafa;
    border: 1px solid #d1d1d1;
    padding: 10px;
    margin-bottom: 5px;
    }
    
    .sla-message p{
        font-style: italic;
    }
    
    .sla-message h3 {
        font-weight: bold;
        color: #94ba65;
        font-size: 13px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px dotted #d1d1d1;
        }
        
        .sla-message h3 span {
            display:block;
            color: #5F5F5F;
            font-size: 10px;
            font-weight: normal;
            }



form.add-message textarea {
    height: 30px;
}

form.add-message #message-body-label {
    display: none;
}


.sla-description fieldset {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 8px;
}


.sla-description fieldset legend {
    color: #2b4e72; 
    font-size: 16px;
    font-weight: bold;
}



.sla-description dl dt {
    float: left;
    color: #2B4E72;
}

.sla-description dl dd {
    padding-left: 150px;
}


div.two-columns {
    float: left;
    width: 48%;
    margin-left: 10px;
    
}






form.requestedResources fieldset {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 8px;
}


form.requestedResources fieldset legend {
    color: #2b4e72; 
    font-size: 10px;
    font-weight: bold;
}



form.requestedResources dl dt {
    float: left;
    color: #2B4E72;
    width: 120px;
}

form.requestedResources dl dd {
    padding-left: 5px;
}



form.requestedResources input {
    float: left;
    width: 100px;
}

.removeFormElement {
    cursor: pointer;
}

form.requestedResources label {
    font-weight: normal;
}


.actionList {
    border-top: 1px solid #B1C6E2;
    border-bottom: 1px solid #B1C6E2;
    margin: 0 15px;
    padding-top: 12px;
}

.query h3 {
    background: url("../../images/admin/bg-gradient3.png") repeat-x scroll center top #727272;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #454545;
    vertical-align: middle;
    color: yellow;
    font-size: 14px;
}




.querystmts {
    clear: both;
}


.querystmts div {
    clear: both;
}



table.query tbody.noResults td {
    text-align: center;
}