<div ng-include="'app/view/menu-plgrid.html'"></div>


<section class="right-section">
    <header>
        <h1>Moje granty</h1>
        <a href="#/create-request" class="button green-button float-right" translate="dashboard.createGrant"></a>
        <a href="/#/create-pool" ng-show="::hasProviderRole" class="button green-button float-right margin-right-button"
                translate="dashboard.createPool"></a>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">
            <div ng-include="'app/view/query.html'"></div>
        </div>
    </div>
</section>


<div ng-show="false" ng-include="'app/view/query.html'"></div>