<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span10" id="queries-box">

        <a href="create-new-request" class="btn btn-success new-grant hint" data-placement="left" data-trigger="manual" data-container="body" data-content="Request new allocation">
            <i class="icon-plus-sign"></i> Request new allocation</a>

        <div style="clear: right;margin-bottom: 10px;"></div>

        <div ng-repeat="query in queries" ng-controller="QueryController" ng-init="init(query)">

                <div ng-include="'app/view/query.html'"></div>

        </div>


    </div>
</div>
