<section class="left-section">
    <nav id="left-menu" class="cat-menu">
        <ul>
            <li><a href="" class="blue-link back"><i class="fa fa-long-arrow-left"></i>Powrót do głównego menu</a></li>
        </ul>
        <ul>
            <li class="arrow_box ">Grant hgd</li>
            <li><a href="">{{ 'grantDetails' | translate }}</a></li>
            <li><a href="">{{ 'reviewLink' | translate }}</a></li>
            <li><a href="">{{ 'grantUsageLink' | translate }}</a></li>
            <li><a href="">{{ 'reportsLink' | translate }}</a></li>
            <li><a href="">{{ 'publicationsLink' | translate }}</a></li>
            <li><a href="">{{ 'issuesLink' | translate }}</a></li>
        </ul>
    </nav>
</section>