<div>

    <h3 translate="{{ query.label }}"></h3>
    <div ng-show="filteredDocuments.length > 0">
        <div class="cert-box" ng-repeat="document in filteredDocuments">
            <p class="grant-name"><a href="#document/{{document.id}}">{{document.name}}</a>
                <span class="site-name {{::document.states.documentState}}" ng-show="document.states.documentState" translate="{{::document.states.documentState}}"></span>
                <span class="site-name {{::document.states.grantActivity}}" ng-show="document.states.grantActivity" translate="{{::document.states.grantActivity}}"></span>
            </p>
            <p class="grant-stat" ng-show="document.team"><span>team: {{document.team}}</span></p>
            <!--<a href="#document/{{document.id}}" translate="details" class="green-button button small-button grant-detail" translate="details"></a>-->
            <p class="grant-time" ng-show="document.requestedResouces['end']"><i class="fa fa-clock-o"></i>&nbsp; &nbsp;  wygasa: {{document.requestedResouces['end']}}</p>
        </div>
    </div>

    <div class="loader" ng-show="isLoading" translate="query.loadingMsg"></div>

    <!-- if no items -->
    <div ng-show="filteredDocuments.length == 0 && !isLoading">
        <span translate="query.noRecordsMsg"></span>
    </div>

    <div>
        <pagination ng-show="filteredDocuments.length > 0"
                    ng-change="pageChanged(currentPage)"
                    boundary-links="true"
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    ng-model="currentPage"
                    class="pagination-sm"
                    rotate="true"
                    max-size="10"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>