<fieldset class="sla-information">
    <dl>

        <dt>Created at</dt><dd>created_at</dd>
        <dt>Created by</dt><dd>
            first last name/email
        </dd>
        <dt>SLA/Request id:</dt><dd>sub_sla_id</dd>
        <dt>Version Id</dt><dd>slaVersion['id'] </dd>



            <dt>Is part of:</dt><dd>
                <a  class="hint" data-placement="right" data-trigger="manual" data-container="body" data-content="Go to the parent request" href="#">
                document name</a></dd>

        <?php endif ?>
            
            <dt>Is renegotiation of:</dt><dd><a href="#">
                document name</a></dd>

            
        

        <dt>Provider:</dt><dd></dd>


        
        

</dl>
</fieldset>
