.weight-col {
    width: 5px;
}

.weight {
    cursor: ns-resize;
}

.same-weight {
    background-color: #ffa11e;
    height: 100%;
    width: 5px;
}

.proposal-list {
    width: 100%;
    display: table !important;
}