.weight-col {
    width: 5px;
}

.weight {
    cursor: ns-resize;
}

.sla-table {
    border-collapse: separate !important;
}

.no-group {
    border: none;
}

.same-weight {

}

.same-weight-top {
    border-top: solid 7px #ffa11e !important;
    border-left: solid 7px #ffa11e !important;
    box-sizing: border-box;
}

.same-weight-middle {
    border-left: solid 7px #ffa11e !important;
    box-sizing: border-box;
}

.same-weight-bottom {
    border-bottom: solid 7px #ffa11e !important;
    border-left: solid 7px #ffa11e !important;
    box-sizing: border-box;
}

.proposal-list {
    width: 100%;
    display: table !important;
}