@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Lato", Helvetica, sans-serif;
    background: url(../images/bg-panel.jpg) no-repeat fixed top right;
    background-size: cover;

}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset, h1,h2,h3,h4,h5,p {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {text-decoration: none;}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin: 0;
    padding: 0;
}
li {margin: 0;}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'collatorregular';
    src: url('../fonts/collator-webfont.eot');
    src: url('../fonts/collator-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/collator-webfont.woff2') format('woff2'),
    url('../fonts/collator-webfont.woff') format('woff'),
    url('../fonts/collator-webfont.ttf') format('truetype'),
    url('../fonts/collator-webfont.svg#collatorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header {
    background: #003358;
    height: 72px;
    overflow:hidden;
    margin-bottom: 15px;
}

.content {
    width: 1100px;
    margin: 0 auto;
    color: #565656;
}

.logo {
    background: url(../images/logo-egi-panel.png) no-repeat;
    height: 60px;
    width: 85px;
    outline: none;
    text-indent: -9999px;
    display:block;
    float:left;
    margin-top: 6px;
}

a {color: #0067b1;}
a span {text-decoration: underline}
a span:hover {text-decoration: none;}
a i {margin-right: 8px;}
p {line-height: 1.6;}

h1 .fa,
h2 .fa {
    margin-right: 15px;
    color: #dedede;
}

h1 .btn, h2 .btn {
    right: 0;
    top: 15px;
    background: #f9a134;
    position: absolute;
}

.btn {
    display: inline-block;
    padding: 6px 10px 2px; 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #4F4F4F;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 800;
    border-bottom: 3px solid #dc7e09;
    font-family: "lato", verdana, sans-serif;
    border: none;
    border-bottom: 2px solid #dc7e09;

}

.btn .fa {margin-right: 6px; color: #fff !important;}
.btn-sm {font-size: 0.3em;}
.btn-success {
    background: #00b411;
    border-bottom: 2px solid #0a9b16;
    padding: 8px 14px 6px 14px;
    }

.btn-cancel {
    background: #f28282;
    border-bottom: 2px solid #d64444;
    padding: 8px 14px 6px 14px;
}

a.btn {text-decoration: none;}
a.btn.btn-success:hover {background: #00a40f;}

nav {float:right;margin-top: 30px;}

nav li {
    display: inline-block;
    margin-left: 15px;
    color: #67aada;
    font-weight: bold;
}


nav li:nth-child(5) {margin-left: 55px;}
nav li a {
    color: #fff;
    padding-bottom: 21px;
}

nav li.active a, nav li:last-child a,
nav li a:hover{
    border-bottom: 4px solid #f9a134;
    color: #f9a134;
}

nav li a:hover,
nav li:last-child a {border: none;}
nav li:last-child {margin-left: 5px;}

.box {
    background: #fff;
    border-radius: 5px;
    box-shadow:0 5px 5px #d8d7d7 ;
    padding: 20px;
}

.fright {float:right;}
.fleft {float:left;}

.grid-1-3 {width: 30%;}
.grid-2-3 {width: 61.5%;}

.grid-1-3a {width: 37%;}
.grid-2-3a {width: 54%;}


h2 {
    font-family: 'collatorregular';
    color: #004374;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 15px;
    position: relative;
}

.tipbox {
    border-top: 1px solid #f1f0ef;
    margin-top: 20px;
    padding-top: 20px;
}

.tipbox i {
    color: #f9a134;
    background: #f1f0f0;
    padding: 15px;
    border-radius: 50%;
}

.tipbox p {width: 75%;margin-top: 15px;line-height: 1.3;}
.tipbox a {
    display:block;
    font-weight: bold;
    text-decoration: underline;
}

form ul,
.userprof, .status {list-style:none;}
form ul li,
.userprof li {
    background:	#ededed;
    padding: 12px 10px;
    margin-bottom: 2px;
    overflow: hidden;
}

.userprof li {padding: 15px 10px;}

form ul li:last-child {background: transparent;}

form.horizontal label,
.userprof span{
    float:left;
    width: 100px;
    display:block;
    vertical-align: middle;
    margin: 15px 15px 0 0;
    font-size: 1em;
}

.userprof span {width: 100px;margin: 0 15px 0 0;}

form.horizontal label.doubleline {
    margin-top: 1px;
}

form.horizontal input,
form.horizontal select {
    float:left;
    padding: 12px;
    width: 250px;
}

.status li {clear:both;border-top: 1px solid #f1f0ef;}
.status li:first-child {border: none;}

.status figure {
    float: left;
    width: 50px;
    height: 50px;
    background: #f9a134;
    border-radius: 50px;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    }

.status figure i {margin-top: 11px;}
.status p {float:left;margin-top: 27px;}
.status p span {font-weight: 300;}
.grid-1 {overflow: hidden;}

.grid-1 form.horizontal input,
.grid-1 form.horizontal select {
    width: 500px;
}

.grid-1 form.horizontal label {
    width: 200px;
    margin-top: 13px;
}

.grid-1 form.horizontal label.doubleline {margin-top: 2px;}

.grid-2-3 .userprof span {width: 250px;}
.grid-2-3 .userprof li {padding: 12px 10px;}

form input,
form select,
form textarea
{
    border-radius: 3px;
    border: none;
    padding: 7px 5px;
    -webkit-box-shadow: 1px 1px 1px 0px #b5b5b5;
    box-shadow: 1px 1px 2px 0px #b5b5b5;
}

label span {font-size: 0.8em; text-transform: uppercase; opacity: 0.5;}


table {width: 100%;}
table td, table th {vertical-align: middle;padding: 15px 10px; text-align:center;}
table td:first-child, table th:first-child {text-align:left;}
table th {
    background: #eeeeee;
    font-weight: normal;
    font-style: italic;
    padding: 10px;
}

table td {border-bottom: 1px solid #eeeeee;}
table td a {text-decoration: underline;}

.pull-left {float:left;}
.pull-right {float:right;}

.table {font-size: 14px;margin-top: 15px;}
.table td {padding: 15px 10px;border-bottom: 1px solid #dedede;}
.table td:first-child {width: 75%;padding-right: 10px;}
.table td:last-child {padding-left: 10px;}

.breadcrumb {
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.breadcrumb li {display: inline-block;margin-right: 5px;}
.breadcrumb li:first-child {color: #6f90a9; font-weight: bold;}
.breadcrumb li a {text-decoration:underline;}

.steps li {display: inline-block;margin-right: -3px;}


footer {
    font-size: 12px;
    opacity: 0.7;
    overflow: hidden;
    margin-top: 15px;
    }

footer p {float:left;}
footer ul {float:right;}
footer ul li {display: inline-block;margin-left: 15px;}
footer a {color: inherit;}


.registration {
    background: url(../images/signup-bg-box.png) #fff 30px 25px no-repeat !important;
    padding: 20px;
    padding-left: 190px;
    padding-top: 50px;
    background: none;
    width: 530px;
    margin: 15px auto;
    -webkit-box-shadow: px 5px 31px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 31px -9px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.registration li {
    background: transparent;
    }

.registration label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 2px;
}

.registration input[type=text],
.registration select {
    border: 1px solid #dddddd;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 15px;
    font-size: 16px;
    width: 85%;
}

.registration input[type=checkbox] {
    box-shadow: none;
    padding: 10px;
}

.registration label span {font-weight: normal; font-style:italic;padding-left: 5px;}

.registration .btn {
    display: inline-block;;
    padding: 0.4em 0.7em 0.1em 0.7em;
    border-radius: 5px;
    border-bottom: 5px solid #db6f00;
    background: #f39836;
    color: #fff;
    font-family: "collatorregular";
    font-size: 1.625em;
    text-transform: uppercase;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9cc59+1,f39c39+100 */
    background: #f9cc59; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmOWNjNTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjM5YzM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(top, ellipse cover,  #f9cc59 1%, #f39c39 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(1%,#f9cc59), color-stop(100%,#f39c39)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(top, ellipse cover,  #f9cc59 1%,#f39c39 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(top, ellipse cover,  #f9cc59 1%,#f39c39 100%); /* Opera 12+ */
    background: -ms-radial-gradient(top, ellipse cover,  #f9cc59 1%,#f39c39 100%); /* IE10+ */
    background: radial-gradient(ellipse at top,  #f9cc59 1%,#f39c39 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cc59', endColorstr='#f39c39',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    cursor: pointer;
}

.registration .btn:hover {background: #f9cc59;}









    /* ==========================================================================
       Helper classes
       ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the component.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
