<!DOCTYPE HTML>

<html ng-app="configurationManager" ng-strict-di="true">
<head>
    <title>PLGrid</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>


    <script src="/lib/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.7.2/angular-translate-loader-url.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.7.2/angular-translate-loader-static-files.js"></script>

    <script src="/app/router.js"></script>
    <script src="/app/directive/MetricValueValidator.js"></script>
    <script src="/app/directive/UniqueGrant.js"></script>
    <script src="/app/directive/GrantNameValidator.js"></script>
    <script src="/app/directive/DatepickerLocaldate.js"></script>
    <script src="/app/service/QueryService.js"></script>
    <script src="/app/service/DocumentService.js"></script>
    <script src="/app/service/SitesService.js"></script>
    <script src="/app/service/DataForGrantCreationService.js"></script>
    <script src="/app/service/MetricService.js"></script>
    <script src="/app/service/GetLoggerUser.js"></script>
    <script src="/app/controller/LeftSectionCtrl.js"></script>

    <script src="/app/controller/MainController.js"></script>
    <script src="/app/controller/DatePickerController.js"></script>
    <script src="/app/controller/QueryController.js"></script>
    <script src="/app/controller/DocumentController.js"></script>
    <script src="/app/controller/TestGrantController.js"></script>

    <script src="/app/controller/CreatePoolController.js"></script>
    <script src="/app/controller/CreateRequestController.js"></script>


    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>


</head>
<body>

<!-- Header -->
<header id="header">
    <div id="top-nav">
        <div class="center">
            <nav>
                <ul class="switch">
                    <li><a href="http://www.plgrid.pl/">STRONA
                        PLGRID</a></li>
                    <li><a href="http://portal.plgrid.pl" class="active">PORTAL
                        PLGRID</a></li>
                </ul>
            </nav>
            <div class="notification">
                <!--<span class="bell"></span>-->
                <!--<span class="bell-number">3</span>-->
            </div>
            <nav class="user-menu">
                <ul>
                    <li>
                        <a href="#" th:text="${login}"> <i class="fa fa-caret-down"></i> </a>
                        <ul>
                            <li><a href="https://portal.plgrid.pl/user/profile" class="user-ico">Mój profil</a></li>
                            <li><a href="https://openid.plgrid.pl/logout" class="logout-ico">Wyloguj</a></li>

                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
    </div>

    <div class="center main-menu">
        <a href="" id="logo"></a>
        <nav id="main-nav">
            <ul>
                <li><a href="https://portal.plgrid.pl/">Mój PLGRID</a></li>
                <li><a href="https://accounting.plgrid.pl/">Wykorzystanie grantów</a></li>
                <li><a href="https://helpdesk.plgrid.pl/">Helpdesk</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- Main -->
<section id="main">
    <div class="center">


        <!-- tutaj wskakuje content-->
        <div ng-view=""/>

    </div>
</section>

<div style="clear: both;"></div>

<!-- Footer -->
<footer id="footer" class="center">
    <div>
        <p>Copyright © 2016, Konsorcjum PL-Grid. Wszelkie prawa zastrzeżone</p>
    </div>

    <nav>
        <ul>
            <li><a href="https://portal.plgrid.pl/">Mój PLGRID</a></li>
            <li><a href="https://accounting.plgrid.pl/">Wykorzystanie grantów</a></li>
            <li><a href="https://helpdesk.plgrid.pl/">Helpdesk</a></li>
        </ul>
    </nav>

</footer>
<!-- Scripts -->
<script src="lib/jquery.min.js"></script>
<script src="lib/jquery.dropotron.min.js"></script>
<script src="lib/skel.min.js"></script>
<script src="lib/skel-viewport.min.js"></script>
<script src="lib/util.js"></script>
<script src="lib/main.js"></script>


</body>
</html>