<!DOCTYPE html>
<html ng-app="indigo"><!--ng-strict-di="true">-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/images/favicon.png"/>

    <title>INDIGO SLA Manager</title>

    <link rel="stylesheet" type="text/css" media="all" href="/css/vendor.css"/>
    <!--<link rel="stylesheet" type="text/css" media="all" href="/css/indigo-main.css"/>-->
    <link rel="stylesheet" type="text/css" media="all" href="/css/engine.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/font-awesome.min.css"/>

    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>

    <script type="text/javascript" th:inline="javascript">
        angular.module('indigo.constants', [])
                .constant('SESSION', {
                    credentials: [[${user.credentials}]],
                    organisationName: [[${user.getUserBean().getOrganisationName()}]],
                    email: [[${user.getUserBean().getEmail()}]],
                    roles: [[${user_roles}]]
                });
    </script>
</head>

<body ng-controller="MainCtrl">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<indigo-header></indigo-header>
<div class="container">

    <div id="main-content" ng-view=""></div>

    <div style="clear:both;"></div>

    <!-- Site footer -->
    <footer id="footer">
        <div class="content">
            <p>
                © By ACC Cyfronet AGH, 2017
            </p>
        </div>
    </footer>
</div>

</body>
</html>