<!-- <div ng-include="'app/view/menu-plgrid.html'"></div> -->


<section class="content-section">
    <header>
        <h1>SLAM</h1>
        <a href="#/add-resource" ng-show="!identity.operator" class="button green-button float-right glyphicon glyphicon-plus"></a>
        <a href="#/create-pool" ng-show="identity.operator" class="button green-button float-right glyphicon glyphicon-plus"></a>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div ng-include="'js/view/indigo/indigo/activeSlaQuery.html'" ng-controller="ActiveSlaQueryController"
             ng-init="init('activeSlA','ActiveCopmSla')">
        </div>
        <div ng-include="'js/view/indigo/indigo/activeSlaQuery.html'" ng-controller="ActiveSlaQueryController"
             ng-init="init('activeSlA','ActiveStorageSla')">
        </div>

        <div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">
            <div ng-include="'js/view/indigo/query.html'"></div>
        </div>
    </div>
</section>


<div ng-show="false" ng-include="'js/view/indigo/query.html'"></div>