<section class="content-section">
    <header>
        <h1>List of Providers</h1>
    </header>
    <div style="clear:both;"></div>
    <div class="loading" ng-show="isLoading"></div>
    <div class="main-content">
        <div>
            <label>Computing:
                <input type="checkbox" ng-change="change()" ng-model="computing" ng-init="computing=true">
            </label>
            <label>Storage:
                <input type="checkbox" ng-change="change()" ng-model="storage" ng-init="storage=true">
            </label>
        </div>
        <div ng-repeat="query in ::queries | orderBy: 'position'" ng-controller="QueryController" ng-init="init(query)">
            <div ng-include="'indigo/view/indigo/providersQuery.html'"></div>
        </div>
    </div>

</section>